.service {
  padding: 25px 0 40px;
  text-align: center;
  &__title {
    margin-bottom: 47px;
    color: $accent;
  }
  &__desc {
    margin-bottom: 21px;
    font-size: 20px;
    color: $text-color;
  }
  &__text {
    margin-bottom: 40px;
    font-size: 15px;
    color: #797979;
  }
}

@media (min-width: 640px) {
  .service {
    padding: 24px 0 0;

    &__items {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -30px;
    }

    &__title {
      margin-bottom: 20px;
      padding-bottom: 0;
      &::after {
        display: none;
      }
    }
    &__desc {
      margin-bottom: 31px;
      padding-bottom: 38px;
      font-size: 24px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 8px;
        background-color: $accent;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
      }
    }
    &__text {
      font-size: 18px;
    }
  }
}

@media (min-width: 768px) {
  .service {
    padding: 50px 0 0;

    &__items {
      margin: 0 -40px;
    }

    &__title {
      margin-bottom: 30px;
    }
    &__desc {
      text-align: left;
      &::after {
        margin-left: 0;
      }
    }
    &__text {
      margin-bottom: 27px;
      text-align: left;
    }
  }
}

@media (min-width: 1024px) {
  .service {
    padding: 52px 0 0;

    &__title {
      margin-bottom: 60px;
    }
    &__desc {
      margin-bottom: 40px;
      padding-bottom: 46px;
    }
    &__text {
      max-width: 608px;
      margin-bottom: 32px;
    }
  }
}

@media (min-width: 1440px) {
  .service {
    padding: 0;

    &__head {
      min-width: 350px;
      margin-right: 100px;
    }

    &__items {
      margin: 0;
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      margin: 0 -100px 0 -50px;
    }

    &__title {
      margin: 90px 0 70px;
      text-align: left;
    }
    &__desc {
      margin-bottom: 38px;
      padding-bottom: 35px;
    }
  }
}
