.header {
  background-color: $accent;

  &__inner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 640px) {
  .header {
    &__inner {
      min-height: 100px;
    }
  }
}

.menu {
  &__btn {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: #fff;
    border: none;

    &::after {
      position: absolute;
      content: '';
      top: 15px;
      left: 14px;
      width: 12px;
      height: 2px;
      background-color: $accent;
      border-radius: 1px;

      //делаем копию линии тенью
      box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
    }
  }
  @media (min-width: 1440px) {
    .menu {
      &__btn {
        margin-right: 90px;
      }
    }
  }

  &__svg {
    width: 13px;
    height: 14px;
  }
}
