<header id="header-section" class="header">

  <div class="container">

    <div class="header__inner">

      <div class="logo">
        <a class="logo__link" href="#body">
          <img class="logo__img" src="/images/logo.png" alt="logo image">
        </a>
      </div>

      <nav class="menu">
        <button class="menu__btn">
          <svg class="menu__svg">
            <use xlink:href="images/sprite.svg#"></use>
          </svg>
        </button>
      </nav>

    </div>

  </div>

</header>