<article class="news__item">
  <img class="news__item-img" src="./images/content/news/1.jpg" alt="images news">
  <a class="news__item-title">
    3Д в брендинге
  </a>

  <div class="news__item-inner">
    <svg class="news__item-svg">
      <use xlink:href="images/sprite.svg#info-news"></use>
    </svg>
  </div>
</article>

<article class="news__item">
  <img class="news__item-img" src="./images/content/news/5.jpg" alt="images news">
  <a class="news__item-title">
    Уникальный дизайн
  </a>

  <div class="news__item-inner">
    <svg class="news__item-svg">
      <use xlink:href="images/sprite.svg#info-news"></use>
    </svg>
  </div>
</article>

<article class="news__item">
  <img class="news__item-img" src="./images/content/news/2.jpg" alt="images news">
  <a class="news__item-title">
    Контекстная реклама
  </a>

  <div class="news__item-inner">
    <svg class="news__item-svg">
      <use xlink:href="images/sprite.svg#info-news"></use>
    </svg>
  </div>
</article>

<article class="news__item">
  <img class="news__item-img" src="./images/content/news/bg-news.jpg" alt="images news">
  <a class="news__item-title">
    Графика
  </a>

  <div class="news__item-inner">
    <svg class="news__item-svg">
      <use xlink:href="images/sprite.svg#info-news"></use>
    </svg>
  </div>
</article>

<article class="news__item">
  <img class="news__item-img" src="./images/content/news/4.jpg" alt="images news">
  <a class="news__item-title">
    Корпоративная культура
  </a>

  <div class="news__item-inner">
    <svg class="news__item-svg">
      <use xlink:href="images/sprite.svg#info-news"></use>
    </svg>
  </div>
</article>

<article class="news__item">
  <img class="news__item-img" src="./images/content/news/6.jpg" alt="images news">
  <a class="news__item-title">
    Взгляд со стороны
  </a>

  <div class="news__item-inner">
    <svg class="news__item-svg">
      <use xlink:href="images/sprite.svg#info-news"></use>
    </svg>
  </div>
</article>

<article class="news__item">
  <img class="news__item-img" src="./images/content/news/7.jpg" alt="images news">
  <a class="news__item-title">
    Соц сети и их польза
  </a>

  <div class="news__item-inner">
    <svg class="news__item-svg">
      <use xlink:href="images/sprite.svg#info-news"></use>
    </svg>
  </div>
</article>

<article class="news__item">
  <img class="news__item-img" src="./images/content/news/8.jpg" alt="images news">
  <a class="news__item-title">
    Эксклюзивность
  </a>

  <div class="news__item-inner">
    <svg class="news__item-svg">
      <use xlink:href="images/sprite.svg#info-news"></use>
    </svg>
  </div>
</article>