<article class="project__item">
  <div class="project__item-img" style="background-image: url(images/content/project-1.jpg);">
    <div class="project__item-inner">
      <a class="project__item-info" href="#">
        <svg class="project__item-svg">
          <use xlink:href="images/sprite.svg#info"></use>
        </svg>
      </a>
      <a class="project__item-loop" href="#">
        <svg class="project__item-svg">
          <use xlink:href="images/sprite.svg#loop"></use>
        </svg>
      </a>
    </div>
  </div>
  <a class="project__item-link" href="#">Lalique бутик</a>
</article>

<article class="project__item">
  <div class="project__item-img" style="background-image: url(images/content/project-2.jpg);">
    <div class="project__item-inner">
      <a class="project__item-info" href="#">
        <svg class="project__item-svg">
          <use xlink:href="images/sprite.svg#info"></use>
        </svg>
      </a>
      <a class="project__item-loop" href="#">
        <svg class="project__item-svg">
          <use xlink:href="images/sprite.svg#loop"></use>
        </svg>
      </a>
    </div>
  </div>
  <a class="project__item-link" href="#">Строительство домов</a>
</article>

<article class="project__item">
  <div class="project__item-img" style="background-image: url(images/content/project-3.jpg);">
    <div class="project__item-inner">
      <a class="project__item-info" href="#">
        <svg class="project__item-svg">
          <use xlink:href="images/sprite.svg#info"></use>
        </svg>
      </a>
      <a class="project__item-loop" href="#">
        <svg class="project__item-svg">
          <use xlink:href="images/sprite.svg#loop"></use>
        </svg>
      </a>
    </div>
  </div>
  <a class="project__item-link" href="#">Кофейня</a>
</article>

<article class="project__item">
  <div class="project__item-img" style="background-image: url(images/content/project-4.jpg);">
    <div class="project__item-inner">
      <a class="project__item-info" href="#">
        <svg class="project__item-svg">
          <use xlink:href="images/sprite.svg#info"></use>
        </svg>
      </a>
      <a class="project__item-loop" href="#">
        <svg class="project__item-svg">
          <use xlink:href="images/sprite.svg#loop"></use>
        </svg>
      </a>
    </div>
  </div>
  <a class="project__item-link" href="#">Уникальные туры</a>
</article>