<article class="service__item">
  <div class="service__item-inner">
    <img class="service__item-img" src="./images/content/service/str.png" alt="images service">
    <h6 class="service__item-title">
      СТРАТЕГИЯ
    </h6>
    <p class="service__item-text">
      Создадим уникальный и удобный дизайн..
    </p>
    <a class="service__item-link" href="#">
      Подробнее
    </a>
  </div>
</article>

<article class="service__item">
  <div class="service__item-inner">
    <img class="service__item-img" src="./images/content/service/analis.png" alt="images service">
    <h6 class="service__item-title">
      АНАЛИЗ
    </h6>
    <p class="service__item-text">
      Создадим уникальный и удобный дизайн..
    </p>
    <a class="service__item-link" href="#">
      ПОДРОБНЕЕ
    </a>
  </div>
</article>

<article class="service__item">
  <div class="service__item-inner">
    <img class="service__item-img" src="./images/content/service/social.png" alt="images service">
    <h6 class="service__item-title">
      СОЦ СЕТИ
    </h6>
    <p class="service__item-text">
      Создадим уникальный и удобный дизайн..
    </p>
    <a class="service__item-link" href="#">
      Подробнее
    </a>
  </div>
</article>

<article class="service__item">
  <div class="service__item-inner">
    <img class="service__item-img" src="./images/content/service/grow.png" alt="images service">
    <h6 class="service__item-title">
      РАЗВИТИЕ
    </h6>
    <p class="service__item-text">
      Создадим уникальный и удобный дизайн..
    </p>
    <a class="service__item-link" href="#">
      Подробнее
    </a>
  </div>
</article>

<article class="service__item">
  <div class="service__item-inner">
    <img class="service__item-img" src="./images/content/service/content.png" alt="images service">
    <h6 class="service__item-title">
      КОНТЕНТ
    </h6>
    <p class="service__item-text">
      Создадим уникальный и удобный дизайн..
    </p>
    <a class="service__item-link" href="#">
      Подробнее
    </a>
  </div>
</article>

<article class="service__item">
  <div class="service__item-inner">
    <img class="service__item-img" src="./images/content/service/designk.png" alt="images service">
    <h6 class="service__item-title">
      ДИЗАЙН UX
    </h6>
    <p class="service__item-text">
      Создадим уникальный и удобный дизайн..
    </p>
    <a class="service__item-link" href="#">
      Подробнее
    </a>
  </div>
</article>

<article class="service__item">
  <div class="service__item-inner">
    <img class="service__item-img" src="./images/content/service/reclam.png" alt="images service">
    <h6 class="service__item-title">
      ТАРГЕТИРОВАННАЯ
      РЕКЛАМА
    </h6>
    <p class="service__item-text">
      Создадим уникальный и удобный дизайн..
    </p>
    <a class="service__item-link" href="#">
      Подробнее
    </a>
  </div>
</article>

<article class="service__item">
  <div class="service__item-inner">
    <img class="service__item-img" src="./images/content/service/product.png" alt="images service">
    <h6 class="service__item-title">
      ПРОДУКТ
    </h6>
    <p class="service__item-text">
      Создадим уникальный и удобный дизайн..
    </p>
    <a class="service__item-link" href="#">
      Подробнее
    </a>
  </div>
</article>