<article class="slider-bottom__item">
  <blockquote class="slider-bottom__text">
    <p>Если нужно создавать либо повышать
      имидж компании,</p>
    <p>то <b class="slider-bottom__text-bold">диджитал-маркетинг</b> является
      наиболее подходящим</p>
  </blockquote>
  <cite class="slider-bottom__autor">- Маргарита Акулич</cite>
</article>

<article class="slider-bottom__item">
  <blockquote class="slider-bottom__text">
    Если нужно создавать либо повышать имидж компании,
    то <b class="slider-bottom__text-bold">диджитал-маркетинг</b> является наиболее подходящим
  </blockquote>
  <cite class="slider-bottom__autor">- Маргарита Акулич</cite>
</article>

<article class="slider-bottom__item">
  <blockquote class="slider-bottom__text">
    Если нужно создавать либо повышать имидж компании,
    то <b class="slider-bottom__text-bold">диджитал-маркетинг</b> является наиболее подходящим
  </blockquote>
  <cite class="slider-bottom__autor">- Маргарита Акулич</cite>
</article>